DATABASE_URL="file:./dev.db"

NEXTAUTH_SECRET="your-secret-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Generate with: npm run generate:vapid
NEXT_PUBLIC_VAPID_PUBLIC_KEY="your-vapid-public-key"
VAPID_PRIVATE_KEY="your-vapid-private-key"
VAPID_EMAIL="mailto:admin@yoursite.com"

NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"
